/*640-1000*/
		@media screen and (min-width:640px) and (max-width:1000px){
			h2{color:#F0F; font-size:2.5em;}
			section#container{
				width:600px;
				-webkit-transition: width 1s ease;
				-moz-transition: width 1s ease;
				-o-transition: width 1s ease;
				-ms-transition: width 2s ease;
				transition: width 1s ease;
			}
			
			#left{
				width:160px;
			}
			
			section#main{
				width:430px;


			}
			
			#right{
				display:none;
				color:red;
			}
		}